---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Works";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="Scripting" src="/HwnScript.png" />
  </div>
  <h2>Coding & Technical Blogging</h2>
  <p>
    I've been working as a software engineer since 2019 but didn't create
    anything useful outside of coporate job ever since. Then, I realized that
    there is so much more than just working someone else, so I started sharing
    stuff in early 2025, here they are.
  </p>
  <ul role="list" class="link-card-grid my-2">
    <Card
      href="https://github.com/shibuicat"
      image="/CongThinking.png"
      title="Open Source"
      body="I have been working on some open-source projects that solve micro problems. Give them a star if you find them useful."
    />
    <Card
      href="https://meditation.shibuicat.com/tag/coding"
      image="/HwnScript.png"
      title="Technical Blogging"
      body="This is where I share my thoughts and experiences about coding, software development, and technology."
    />
  </ul>
  <h2>Photography & Meditation</h2>
  <p>
    I picked up Photography in early 2025, This hobby keeps me reminded to go
    out and explore the world. View the world under different lens and angles.
  </p>
  <p>Meditation keeps my mind clear, steady and calm.</p>
  <ul role="list" class="link-card-grid my-2">
    <Card
      href="https://adventure.shibuicat.com/"
      image="/HwnGun.png"
      title="Photography"
      body="My photography work where I share my adventures and photos."
    />
    <Card
      href="https://meditation.shibuicat.com/tag/meditation"
      image="/HwnQuestion.png"
      title="Meditation"
      body="I meditate on thoughts, ideas, and experiences. This is where I share my meditation journey."
    />
  </ul>
</Layout>
