---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="nav-bar">
  <div class="title-link">
    <a href="/">Do Tran</a>
  </div>
  <div class="nav-links">
    <a href="/works/">Works</a>
    <a href="/posts/">Posts</a>
    <a href="https://github.com/oldtune">GitHub</a>
    <a href="/story">My story</a>
    <ThemeIcon />
  </div>
</div>
